!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %link{:href => 'stylesheets/flutie.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'stylesheets/application.css', :rel => 'stylesheet', :type => 'text/css'}
    %title Browser Matrix
    :css
      /* These are styles to make the page look nice */

      body { background-color: #dadada;}
      .content {
        background: #fff;
        padding: 40px;
        margin: 40px auto;
        width: 880px;
        -moz-border-radius: 24px;
        -webkit-border-radius: 24px;
      }
  %body
    .content
      %h2 Web Application Platform Support Matrix / Technical Direction Doc

      %hr

      #project_metadata
        .pair
          .title Project Name
          .value Audi of America Brand Site Tools
        .pair
          .title Effective Date
          .value November 24, 2010
        .pair
          .title Project Manager
          .value Josh West
        .pair
          .title Account Lead
          .value Meghan Newlin
        .pair
          .title Technical Lead
          .value Jay Zeschin

      %h3 Methodology  
      %h4 Structure
      %p We present platforms in this document broken down by form factor (mobile or desktop), operating system, browser name, and version.  Additional notes or caveats surrounding a platform will be denoted with a footnote like this <a class="super" href="#footnote-0">[0]</a>.
      %h4 Selection
      %p We select browsers and platforms for inclusion in this matrix based on two primary criteria: market share and support status.  Market share is evaluated by looking at historic platform usage trends (trailing 3 months from the study date) and predicted adoption rates.  Both global and site-specific trends are analyzed, with global trends coming from recognized data sources including (but not limited to) W3Counter, Statcounter, and NetMarketShare and site-specific trends coming from the appropriate deployed analytics package (Omniture, CoreMetrics, or Google Analytics).  These sources are cited as appropriate, and the resulting share percentages are presented inline in the matrix next to each platform's name.
      %h5 Form Factors and Operating Systems
      %p The manner by which form factors and operating systems are selected for inclusion in the matrix is generally more subjective and is determined by the business needs of a particular initiative, and specifically the relevant markets and demographics.  As a general practice, any "major" form factor or operating system (one holding at least 10% of the market share in the relevant market or demographic) is included for consideration.  At the time of this writing, the major operating systems for the desktop form factor are Windows XP, Vista, and 7, and Mac OS 10.6.  The major operating systems for the mobile form factor are Apple's iOS, Google's Android, RIM's Blackberry, and Nokia's Symbian OS.  Non-major operating systems and form factors may be chosen for inclusion for a variety of reasons, e.g. use as development platforms, PR or partnership potential, "first-mover" advantages, corporate IT restrictions, etc.
      %h5 Browsers
      %p The manner by which browsers are selected for inclusion in the matrix is more strictly-defined.  Generally speaking, only "major" browsers are included, and similar to form factors and operating systems, a browser is considered major if it holds greater than 10% market share for any given combination of form factor and operating system.  For example, the Safari browser is considered "major" even though it only has 5% market share overall because it has substantially larger market share on the Mac OS X operating system, which is itself a major platform.  Non-major browsers may also be chosen for inclusion for a variety of reasons similar to those for operating systems and platforms.
      %h4 "Modern" web browsers
      %p Under most circumstances, we strive to support only web browsers that are considered modern.  <a href="http://googleenterprise.blogspot.com/2010/01/modern-browsers-for-modern-applications.html">Per Google</a>, a 

      %h4 Support Definitions

      %dl
      %dt Optimized
      %dd The site is designed, coded, and tested specifically for an optimal experience on this platform.  This may include native applications.
      %dt Friendly
      %dd The site is designed, coded, and tested with the specified platform in mind.  This may include visual enhancements and affordances geared specifically for the platform (i.e. device detection), but typically does not include a variant specifically developed for a platform.
      %dt Accessible
      %dd The site has been designed, coded, and tested to be usable via the specified platform, and should not appear visibly "broken".  However, navigation may be difficult, and smaller visual cues (drop shadows, etc.) may not be pixel perfect.
      %dt Unsupported
      %dd The site has not been designed, coded, and tested with the specified platform in mind.  The experience may be partially or fully degraded or unavailable.  No external validation of functionality or appearance has been performed. 

      %h3 Analysis  
      %p This is our analysis

      %hr

      %table
        %tbody
          %tr{ :class => 'big' }
            %th{ :colspan => 4 } Platform
            %th{ :colspan => 2 } Share
            %th{ :colspan => 4 } Support Status			
          %tr
            %th Form Factor
            %th OS
            %th Browser	
            %th Version
            %th Market Share
            %th Site Penetration
            %th Optimized
            %th Friendly
            %th Accessible
            %th Unsupported
          %tr
            %td{ :rowspan => 16} Desktop
            %td{ :rowspan => 5 } Mac OS X	
            %td{ :rowspan => 2 } Firefox
            %td	4
            %td
            %td
            %td{ :class => 'optimized'}
            %td
            %td
            %td
          %tr
            %td 3.6
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td Chrome
            %td 7
            %td
            %td
            %td{ :class => 'optimized'}
            %td
            %td
            %td
          %tr
            %td Safari
            %td 5
            %td
            %td
            %td{ :class => 'optimized'}
            %td
            %td
            %td
          %tr
            %td Opera
            %td	10.63
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td{ :rowspan => 11 } Windows 
            %td{ :rowspan => 4 } Internet Explorer
            %td 9
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td 8
            %td
            %td
            %td
            %td{ :class => 'friendly'}
            %td
            %td
          %tr
            %td 7
            %td
            %td
            %td
            %td{ :class => 'friendly'}
            %td
            %td
          %tr
            %td 6
            %td
            %td
            %td
            %td
            %td{ :class => 'accessible'}
            %td
          %tr
            %td{ :rowspan => 2 } Firefox
            %td 4
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td 3.6
            %td
            %td
            %td
            %td{ :class => 'friendly'}
            %td
            %td
          %tr
            %td{ :rowspan => 2 } Chrome
            %td 8
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td 7
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td{ :rowspan => 2 } Safari
            %td 5
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td 4
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td Opera
            %td 10.63
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td{ :rowspan => 8} Mobile
            %td{ :rowspan => 2 } iOS
            %td{ :rowspan => 2 } Mobile Safari
            %td 4.2
            %td
            %td
            %td
            %td
            %td{ :class => 'accessible'}
            %td
          %tr
            %td 3.1
            %td
            %td
            %td
            %td
            %td{ :class => 'accessible'}
            %td
          %tr
            %td{ :rowspan => 2 } Android
            %td{ :rowspan => 2 } Native Browser
            %td 2.2
            %td
            %td
            %td
            %td
            %td{ :class => 'accessible'}
            %td
          %tr
            %td 2.1
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}      
          %tr 
            %td{ :rowspan => 2 } Blackberry  
            %td RIM Browser 
            %td N/A
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td Opera 
            %td N/A
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr 
            %td{ :rowspan => 2 } Symbian 
            %td Native Browser  
            %td N/A
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
          %tr
            %td Opera
            %td N/A
            %td
            %td
            %td
            %td
            %td
            %td{ :class => 'unsupported'}
